<% @item.tags.build %>
<%= form_for @item,:html =>{:multipart => true} do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :one_hundred %><br />
    <%= f.check_box :one_hundred %>
  </div>
  <div class="field">
    <%= f.label :item_notes %><br />
    <%= f.text_area :item_notes %>
  </div>
  <div class="field">
    <%= f.label :shopping_suggestions %><br />
    <%= f.text_field :shopping_suggestions %>
  </div>
  <h2>Tags</h2>
   <%= render :partial => 'tags/form',
              :locals => {:form => f } %>
  <p>
	<%= f.file_field :image %>
  </p>	
			
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
